<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных книги</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="book_name">Введите название книги</label>
    <input type="text" th:field="*{book_name}" id="book_name">
    <div style="color:red" th:if="${#fields.hasErrors('book_name')}" th:errors="*{book_name}">Error type</div>
    <br/>
    <label for="author_name">Введите имя автора</label>
    <input type="text" th:field="*{author_name}" id="author_name">
    <div style="color:red" th:if="${#fields.hasErrors('author_name')}" th:errors="*{author_name}">Error type</div>
    <br/>
    <label for="year_of_writing">Введите год написания книги</label>
    <input type="text" th:field="*{year_of_writing}" id="year_of_writing">
    <div style="color:red" th:if="${#fields.hasErrors('year_of_writing')}" th:errors="*{year_of_writing}">Error type</div>
    <br/>
    <input type="submit" value="Обновить">
</form>

</body>
</html>